*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.container{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 5%;
}
.gg-menu{
    margin-top: 10px;
}
main{
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
    gap: 2%;
}
 .Card{
    width: 20%;
    margin-bottom: 50px;
 }
.Card .card-top img{
    width: 100%;
    height: 5%;
}
.Card .card-bottom{
    width: 100%;
    padding: 10px 10px;
}
.Card .card-bottom p{
    margin-top: 10px;
    font-size: 16px;
}
.pagination {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: black;
    color: white;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
}
hr{
    border: 1px solid rgb(218, 218, 218);
    width: 100%;
}
.about{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}
.about span{
    font-size: 25px;
}
.about img{
    margin-top: 30px;
}
.about h3{
    margin-top: 30px;
}
.about p{
    margin-top: 15px;
    width: 70%;
    margin-left: 220px;
}
footer{
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}
.left{
    width: 26%;
    margin-left: 110px;
}
footer h3{
    font-size: 30px;
}
.left p{
    margin-top: 30px;
}
.left p a{
    color: black;
}
.mid{
    width: 26%;
}
.blog{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.blog img{
    width: 13%;
    margin-right: 10px;
}
.mid .line{
    border: 1px solid rgb(218, 218, 218);
    margin-top: 20px;
}
.right{
    display: flex; 
    width: 26%;
    gap: 10%;
    flex-flow: column;
}
.right h3{
    width: 100%;
}
.tags{
    line-height: 3;
    margin-top: 20px;
}
.tags > a{
    background-color: rgb(88, 88, 88);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.tags a:hover{
    background-color: black;
}