<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
        </style>
    <title>Layout</title>
</head>
<body>
    <div class="container">
        <img src="Images/logo.png" alt="logo" class="logo">
        <nav>
            <ul class="head-list">
                <li><a href="#" class="home">Home</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Partner</a></li>
                <li><button type="submit" class="logbtn">Login</button></li>
                <li><button type="submit" class="regbtn">Register</button></li>
            </ul>
        </nav>
        <header>
            <h1>Explore and Travel</h1>
            <h4>Holiday finder</h4>
            <div class="line1"></div>
            <select name="Loction" class="select1">
                <option value="Location">Location</option>
                <option value="Egypt">Egypt</option>
                <option value="France">France</option>
                <option value="USA">USA</option>
            </select>
            <select name="Activity" class="select2">
                <option value="Activity">Activity</option>
            </select>
            <select name="Grade" class="select3">
                <option value="Grade">Grade</option>
            </select>
            <select name="Date" class="select4">
                <option value="Date">Date</option>
            </select>
            <button type="submit" class="Explorebtn">Explore</button>
            <img src="Images/thousand-01 1.png" class="header-img">
        </header>
        <section class="sec2">
            <img src="/home/l/Downloads/Thousand-02 1.png" class="sec2-img">
            <h1>A new way to explore the world </h1>
            <p>For decades travellers have reached for Lonely Planet books when looking to plan and execute their perfect 
                trip, but now, they can also let Lonely Planet Experiences lead the way</p>
            <button type="submit" class="sec2-btn">Learn more</button>    
        </section>
        <section class="sec3">
            <h1 class="featured">Featured destinations</h1>
            <a href="#" class="sec3-link">View all <i class="fa">&#xf105;</i></a>
            <img src="Images/Raja ampat.png" class="sec3-img1">
            <img src="Images/Fanjingshan.png" class="sec3-img2">
            <img src="Images/Vevey.png" class="sec3-img3">
            <img src="Images/Skadar.png" class="sec3-img4">
        </section>
        <section class="sec4">
            <h1>Guides by Thousand Sunny</h1>
            <p>Packed with tips and advice from our on-the-ground experts, our city guides app (iOS and Android) is the ultimate resource before and during a trip.</p>
            <button type="submit" class="sec4-btn">Download</button>
            <img src="Images/Thousand-03.png" class="sec4-img">            
        </section>
        <section class="sec5">
            <h1>Testimonials</h1>
            <div class="rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <p class="sec5-p1">“Quisque in lacus a urna fermentum euismod. Integer mi nibh, dapibus ac scelerisque eu, facilisis quis purus. Morbi blandit sit amet turpis nec”</p>
            <h4>Edward Newgate</h4>
            <p class="sec5-p2">Founder Circle</p>
            <img src="Images/photo.png" class="sec5-img">
        </section>
        <section class="sec6">
            <h1>Trending stories</h1>
            <a href="#" class="sec6-link">View all <i class="fa">&#xf105;</i></a>
            <img src="Images/image 12.png" class="sec6-img1">
            <h4 class="img1-h4">The many benefits of taking a healing holiday</h4>
            <p class="img1-p">‘Helaing holidays’ are on the rise tohelp maximise your health and happines...</p>
            <a href="#" class="img1-link">Read more</a>
            <img src="Images/image 13.png" class="sec6-img2">
            <h4 class="img2-h4">The best Kyoto restaurant to try Japanese food</h4>
            <p class="img2-p">From tofu to teahouses, here’s our guide to Kyoto’s best restaurants to visit...</p>
            <a href="#" class="img2-link">Read more</a>
            <img src="Images/image 14.png" class="sec6-img3">
            <h4 class="img3-h4">Skip Chichen Itza and head to this remote Yucatan</h4>
            <p class="img3-p">It’s remote and challenging to get, but braving the jungle and exploring these ruins without the...</p>
            <a href="#" class="img3-link">Read more</a>
            <img src="Images/image 15.png" class="sec6-img4">
            <h4 class="img4-h4">Surf’s up at these beginner spots around the world</h4>
            <p class="img4-p">If learning to surf has in on your to-do list for a while, the good news is: it’s never too late...</p>
            <a href="#" class="img4-link">Read more</a>
        </section>
        <footer>
            <img src="Images/logo.png" class="footer-logo">
            <p class="footer-p1">Plan and book your perfect trip with expert advice, travel tips destination information from us</p>
            <p class="footer-p2">©2020 Thousand Sunny. All rights reserved</p>
            <h4 class="footer-h4-left">Destinations</h4>
            <div class="footer-left">
                <p>Africa</p>
                <p>Antarctica</p>
                <p>Asia</p>
                <p>Europe</p>
                <p>America</p>
            </div>
            <h4 class="footer-h4-mid">Shop</h4>
            <div class="footer-mid">
                <p>Destination Guides</p>
                <p>Pictorial & Gifts</p>
                <p>Special Offers</p>
                <p>Delivery Times</p>
                <p>FAQs</p>
            </div>
            <h4 class="footer-h4-right">Interests</h4>
            <div class="footer-right">
                <p>Adventure Travel</p>
                <p>Art And Culture</p>
                <p>Wildlife And Nature</p>
                <p>Family Holidays</p>
                <p>Food And Drink</p>
            </div>
            <div class="line2"></div>
            <div class="social">
                <i class="fa">&#xf099;</i>
                <i class="fa">&#xf09a;</i>
                <i class="fa">&#xf16d;</i>
                <i class="fa">&#xf0e1;</i>
                <i class="fa">&#xf16a;</i>
            </div>
        </footer>
    </div>
</body>
</html>