*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
nav{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}
nav img{
    width: 41px;
    height: 41px;
}
nav ul{
    width: 663px;
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 6%;
}
ul .logbtn{
    width: 132px;
    height: 60px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background-color: white;
    color: #FB8F1D;
}

